<a href="https://colab.research.google.com/github/hibahibutty/Learn.py/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [ ]:
for i in range(1000,2001):
    if i%7==0 and i%11==0:
      print(i)

2. Write a program to print this pattern

           #
          ## 
         ###

In [ ]:
k = 2
for i in range(3):
    for j in range(k):
      print(end=" ")
    k = k-1
    for j in range(i+1):
      print("#", end="") 
    print()

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [ ]:
list= ['apple','orange','apple','banana']
for n, i in enumerate(list):
   if i == 'apple':
      list[n] = 'grapes'
print(list)